.env
.env.*
!.env.example
.DS_Store
__pycache__
.idea
.venv/
.vscode/
KMS/logs/
src/__pycache__/
src/agent_starter_python.egg-info/
src/dmv_index.faiss/
*.egg-info
.pytest_cache/
.ruff_cache/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.faiss
*.pkl
uv.lock
.venv
.vscode
*.egg-info
.pytest_cache
.ruff_cache